<div class="sticky top-0">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div id="resource_actions--buttons" class="relative flex items-center justify-end space-x-1" data-controller="resource">
    <span class="pr-3 text-lg font-medium text-gray-900"> &nbsp; </span>
    <% buttons.each do |button| %>
      <%= button %>
    <% end %>
  </div>
</div>