<td scope="col" class="sticky top-0 z-10 bg-gray-50 bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
  <div>
    <%= form.label :"#{attribute}_cont" %>
    <%= form.search_field :"#{attribute}_cont", id: "filter_#{attribute}", class: "max-w-lg block w-full shadow-sm focus:ring-sky-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md", data: { action: 'keydown->collection-filter--component#filter' } %>
  </div>
</td>