<div class="flex-shrink-0 flex bg-gray-700 p-4">
  <a href="#" class="flex-shrink-0 w-full group block">
    <div class="flex items-center">
      <div id="user_profile_image">
        <%= image_tag(gravatar_url, class: 'inline-block h-12 w-12 rounded-full', alt: "#{@user.full_name}") %>
      </div>
      <div class="ml-3">
        <p id="user_profile_name" class="text-sm font-medium text-white"><%= @user.full_name %></p>
        <p id="user_profile_view" class="text-xs font-medium text-gray-300 group-hover:text-gray-200">View profile</p>
      </div>
    </div>
  </a>
</div>