<div id="turbo_stream_<%= action %>_<%= resource.resource_name %>_<%= resource.id %>">
  <%= render ResourceForm::Component.new(
      title: resource_class.model_name.human,
      description: t('.description'),
      resource: resource,
      token: token,
      action: action) do |component| %>
    <% component.with_field do |c| %>
      <% if nested? %>
        <% c.with_attribute_hidden(
               attribute: :item_sell_pack_id,
               label: resource_class.human_attribute_name(:item_sell_pack_id),
               resource: resource,
               options: { value: @parent.id }
           ) %>
      <% end %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_text(
             attribute: :alias,
             label: resource_class.human_attribute_name(:alias),
             resource: resource,
             options: { readonly: readonly, required: true, invalid_message: t('.invalid_message.alias') }
         ) %>
    <% end %>
    <% unless nested? %>
      <% component.with_field do |c| %>
        <% c.with_attribute_text(
               attribute: :item_sell_pack,
               label: resource_class.human_attribute_name(:item_sell_pack),
               resource: resource,
               options: { readonly: true, url: item_sell_pack_path(resource.item_sell_pack) }
           ) %>
      <% end %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_toggle(
             attribute: :confirmed,
             label: resource_class.human_attribute_name(:confirmed),
             resource: resource,
             options: { readonly: readonly, help: t('.help.confirmed') }
         ) %>
    <% end %>
    <% unless action == :new %>
      <% component.with_field do |c| %>
        <% c.with_attribute_timestamp(attribute: :created_at, label: resource_class.human_attribute_name(:created_at), resource: resource) %>
      <% end %>
      <% component.with_field do |c| %>
        <% c.with_attribute_timestamp(attribute: :updated_at, label: resource_class.human_attribute_name(:updated_at), resource: resource) %>
      <% end %>
    <% end %>
  <% end %>
</div>