<div class="w-full">
  <% if success.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="success"><%= success %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Item pack aliases</h1>
    <%= link_to 'New item pack alias', new_item_pack_alias_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="item_pack_aliases" class="min-w-full">
    <%= render @collection %>
  </div>
</div>
