<div id="page_heading" class="px-4 sm:px-6 lg:px-8 bg-orange-100 rounded-lg shadow-lg">
  <div class="p-2 sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 id="page_heading--title" class="text-xl font-semibold text-gray-900"><%= title %></h1>
      <p id="page_heading--description" class="mt-2 text-sm text-gray-700"><%= description %></p>
    </div>
    <div id="page_heading--actions" class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none" data-controller="resource">
      <%= actions %>
    </div>
  </div>
</div>