<div id="tab_navigation--<%= id %>" class="mb-5">
  <div class="hidden sm:block" data-action="">
    <nav class="relative z-0 rounded-lg shadow flex divide-x divide-gray-200" aria-label="Tabs">
      <% tabs.each do |tab| %>
        <%= tab %>
      <% end %>
    </nav>
  </div>
</div>