<div id="turbo_stream_<%= action %>_<%= resource.resource_name %>_<%= resource.id %>">
  <%= render ResourceForm::Component.new(
      title: resource_class.model_name.human,
      description: t('.description'),
      resource: resource,
      token: token,
      action: action) do |component| %>
    <% component.with_field do |c| %>
      <% c.with_attribute_text(
             attribute: :item_description,
             label: resource_class.human_attribute_name(:item_description),
             resource: resource,
             options: { readonly: readonly, required: true, invalid_message: t('.invalid_message.item_description') }
         ) %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_text(
             attribute: :brand,
             label: resource_class.human_attribute_name(:brand),
             resource: resource,
             options: { readonly: readonly, required: false }
         ) %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_number(
             attribute: :item_size,
             label: resource_class.human_attribute_name(:item_size),
             resource: resource,
             options: { readonly: readonly, required: true, min: 0.0, step: 0.0001, invalid_message: t('.invalid_message.item_size') }
         ) %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_text(
             attribute: :item_measure,
             label: resource_class.human_attribute_name(:item_measure),
             resource: resource,
             options: { readonly: readonly, required: true, invalid_message: t('.invalid_message.item_measure') }
         ) %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_text(
             attribute: :item_pack_name,
             label: resource_class.human_attribute_name(:item_pack_name),
             resource: resource,
             options: { readonly: readonly, required: true, invalid_message: t('.invalid_message.item_pack_name') }
         ) %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_number(
             attribute: :item_sell_quantity,
             label: resource_class.human_attribute_name(:item_sell_quantity),
             resource: resource,
             options: { readonly: readonly, required: true, min: 0.0, step: 0.0001, invalid_message: t('.invalid_message.item_sell_quantity') }
         ) %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_dropdown(
             attribute: :item_sell_pack_name,
             label: resource_class.human_attribute_name(:item_sell_pack_name),
             resource: resource,
             items: ItemSellPack.canonical.order(:name).map { |pack_name| { text: pack_name.name, value: pack_name.name } },
             options: { readonly: readonly, required: true, invalid_message: t('.invalid_message.item_sell_pack_name') }
         ) %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_timestamp(attribute: :created_at, label: resource_class.human_attribute_name(:created_at), resource: resource) %>
    <% end %>
    <% component.with_field do |c| %>
      <% c.with_attribute_timestamp(attribute: :updated_at, label: resource_class.human_attribute_name(:updated_at), resource: resource) %>
    <% end %>
  <% end %>
</div>